.skeleton {
  background-color: #222;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}


.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.1), transparent);
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}


.movie-card.skeleton {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; 
}

.skeleton-img {
  width: 100%;
  padding-top: 150%; 
  border-radius: 8px;
  background-color: #333;
}

.skeleton-title {
  width: 70%;
  height: 16px;
  background-color: #333;
  border-radius: 4px;
}

.skeleton-year {
  width: 40%;
  height: 14px;
  background-color: #333;
  border-radius: 4px;
}


.movie-details-container.skeleton {
  display: flex;
  gap: 20px;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.skeleton-poster {
  width: 250px;
  height: 375px;
  background-color: #333;
  border-radius: 8px;
}

.movie-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.skeleton-text {
  height: 16px;
  background-color: #333;
  border-radius: 4px;
}

.skeleton-text.long {
  width: 100%;
}

@media (max-width: 900px) {
  .movie-details-container.skeleton {
    gap: 16px;
    max-width: 100%;
  }

  .skeleton-poster {
    width: 200px;
    height: 300px;
  }

  .skeleton-title {
    height: 15px;
  }

  .skeleton-text {
    height: 15px;
  }
}

@media (max-width: 600px) {
  
  .movie-details-container.skeleton {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .skeleton-poster {
    width: 70%;
    height: auto;
    aspect-ratio: 2 / 3;
  }

  .movie-info {
    width: 100%;
  }

  .skeleton-title {
    width: 60%;
    height: 14px;
  }

  .skeleton-text {
    height: 14px;
  }


  .movie-card.skeleton {
    gap: 8px;
  }

  .skeleton-img {
    padding-top: 145%;
  }
}

@media (max-width: 400px) {
  .skeleton-poster {
    width: 85%;
  }

  .skeleton-title {
    height: 13px;
  }

  .skeleton-year {
    height: 12px;
  }

  .skeleton-text {
    height: 13px;
  }

  .skeleton-img {
    padding-top: 140%;
  }
}


